---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About Astro Gary</title>
	</head>
	<body>
        <nav>
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/blog/">Blog</a>
        </nav>

		<h1>About Astro Gary</h1>
        <h2>...a new Astro site</h2>
        <p>This site is built using Astro, a modern static site generator.</p>
        <p>Learn more about Astro at <a href="https://astro.build" target="_blank" rel="noopener noreferrer">astro.build</a>.</p>
	</body>
</html>
