---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Astro Blog";
---

<BaseLayout pageTitle={pageTitle} currentPage="blog">
        <h2>Look at the blog posts below</h2>
        <ul>
        { allPosts.map(( post: any) => 
            <BlogPost title={post.frontmatter.title} url={post.url} />
        )}
        </ul>
</BaseLayout>
