---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title} currentPage="products">
    <article>

      <h2>{frontmatter.headline}</h2>
      { frontmatter.category &&
          <h3>Category: {frontmatter.category}</h3>
      }
      <hr />
      <slot />
      <hr />
      <footer>
        <h3>You may also like</h3>

      </footer>
    </article>
</BaseLayout>